
<body>
</br>
    <form name="swapi-form" action="/starships" method="POST">
      <label for="sort-value">Choose sort value</label>
        <select name="starship_value" required>
          {% for value in starship_keys %}
            <option value="{{ value }}" SELECTED>{{ value }}</option>
          {% endfor %}     
        </select>
        </br>
        </br>
        <label>Would you like results sorted ascending or descending?</label>
            <select name="sort_by" required>
                <option value="Ascending">Ascending</option>
                <option value="Descending">Descending</option> 
            </select>
        </br>
        </br>
        <button type="submit" id="btn" >submit</button>
      </form>
    </br>
    <table>
        {% for ship in sorted_list %}
        <tr>
            <td>{{ ship.0 }} </td>
            <td>{{ ship.1 }} </td>
        </tr>
        {% endfor %}
    </table>
  </body>